{% extends "base.html" %} {% block title %}Generator{% endblock %} {% block head
%} {{ super() }} 
<script src="/static/js/generator.js"></script>
{% endblock %} {% block content %}
<h2>Dataset generator</h2>
<hr style="height:3px;border-width:0; background: linear-gradient(270deg, rgba(44,45,92,1) 0%, rgba(45,33,140,1) 32%, rgba(128,60,200,1) 73%, rgba(161,72,195,1) 100%);">
<div class="row">
  <div class="col-sm-6">
    <h5>Dataset parameters</h5>
    <form method="POST" action="{{ url_for('generator') }}">
      <fieldset class="form-group">
        <div class="form-group row">
          <label for="number-of-processes" class="col-sm-4 col-form-label"
            >Number of processes</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              id="form-number-of-processes"
              name="number-of-processes"
              placeholder="Type number of processes"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="minimum-process-duration" class="col-sm-4 col-form-label"
            >Minimum process duration</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              id="form-minimum-process-duration"
              name="minimum-process-duration"
              placeholder="Type integer"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="maximum-process-duration" class="col-sm-4 col-form-label"
            >Maximum process duration</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              id="form-maximum-process-duration"
              name="maximum-process-duration"
              placeholder="Type integer"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="process-dispersion-factor" class="col-sm-4 col-form-label"
            >Process dispersion factor</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              id="form-process-dispersion-factor"
              name="process-dispersion-factor"
              placeholder="Type percentages"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="randomize-priority" class="col-sm-4 col-form-label"
            >Randomize priorities</label
          >
          <div class="col-sm-8">
            <input
              type="checkbox"
              id="form-randomize-priority"
              name="randomize-priority"
              title="Generate random priorities in dataset."
            />
          </div>
        </div>
        <!--
        <div class="form-group row">
          <label for="random-seed" class="col-sm-4 col-form-label"
            >Seed of randomness</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              id="form-random-seed"
              name="random-seed"
              placeholder="Type integer"
            />
          </div>
        </div>
      -->
        <div class="form-group row">
          <label for="number-of-priority-levels" class="col-sm-4 col-form-label"
            >Number of priority levels</label
          >
          <div class="col-sm-8">
            <input
              type="number"
              class="form-control"
              id="form-number-of-priority-levels"
              name="number-of-priority-levels"
              placeholder="Type integer"
              disabled
            />
          </div>
        </div>
      </fieldset>

      <div class="form-group row">
        <div class="col-sm-12" style="text-align: center;">
          <button id="generate-button" type="submit" class="btn btn-primary">
            Generate
          </button>
          <button
            id="export-button"
            type="button"
            class="btn btn-primary"
            disabled
          >
            Export
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <h5>Datasets list</h5>
    <div class="row">
      <div class="col-sm-12">
        {% for dataset in context.datasetsBase %}
        <li>{{ dataset }}</li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
